span.badge img {
  height: 18px;
}

span.badge {
  height: 24px;
  background-color: white;
  border-color: orange;
  border-style: solid;
  font-size: unset;
  font-weight: unset;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  span.badge {
    height: 28px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  span.badge {
    height: 30px;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  span.badge {
    height: 32px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  span.badge {
    height: 34px;
  }
}
