<div class="timeline-heading">
  <h4>
    <a href="{{ url }}" target="_blank" class="exposedlink"
      >Project Management Portal</a
    >
    <a
      href="{{ url }}"
      target="_blank"
      class="btn btn-primary btn-sm d-print-none"
    >
      <i class="fa fa-external-link"></i> Open App
    </a>
  </h4>
  <h6>Freelance</h6>
  <h6>2018/01-2018/01; Philippines</h6>
</div>
<div class="timeline-body">
  <dl>
    <dt>Description:</dt>
    <dd>A portal for project management I created using JHipster4.</dd>
    <dt>Contribution:</dt>
    <dd>
      <ul class="list-contribution">
        <li>
          As Designer/ Developer - designing and developing web/ Java
          applications.
        </li>
      </ul>
    </dd>
    <dt>Client-side:</dt>
    <dd>
      <app-pill-html5></app-pill-html5>
      <app-pill-css3></app-pill-css3>
      <app-pill-js></app-pill-js>
      <app-pill-angular></app-pill-angular>
      <app-pill-bootstrap></app-pill-bootstrap>
    </dd>
    <dt>Server-side:</dt>
    <dd>
      <app-pill-spring category="Boot"></app-pill-spring>
      <app-pill-java></app-pill-java>
    </dd>
    <dt>Web/ Application Servers:</dt>
    <dd>
      Hosted in
      <app-pill-heroku></app-pill-heroku>
    </dd>
    <dt>Databases:</dt>
    <dd>MS SQL Server/ Azure SQL Server</dd>
    <dt>Development Tools:</dt>
    <dd>
      Visual Studio Code, Spring Tool Suite, Chrome Dev Tools, JHipster, NodeJs
      CLI, Angular CLI
    </dd>
    <dt>OS:</dt>
    <dd>MS Windows 10 Pro</dd>
    <dt>Hardware:</dt>
    <dd>PC</dd>
  </dl>
</div>
