<div class="timeline-heading">
    <h4>Up-skilling Training</h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <h6>2016/11-2017/04; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>Angular, jQuery, NodeJs, MongoDb, Bootstrap, PHP and IBM Bluemix training</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>Worked as the lead for the group training.</li>
                <li>Served as mentor and proctor for the certification of fellow IBMers.</li>
            </ul>
        </dd>
        <dt>Cloud:</dt>
        <dd>
            <app-pill-ibm-cloud></app-pill-ibm-cloud>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pill-html5></app-pill-html5>
            <app-pill-css3></app-pill-css3>
            <app-pill-angular></app-pill-angular>
            <app-pill-jquery></app-pill-jquery>
            <app-pill-js></app-pill-js>
            <app-pill-bootstrap></app-pill-bootstrap>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pill-node-js></app-pill-node-js>
            <app-pill-php></app-pill-php>
        </dd>
        <dt>Databases:</dt>
        <dd>MongoDb, Cloudant</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse</dd>
        <dt>OS:</dt>
        <dd>MS Windows</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>