<div class="timeline-heading">
  <h4><abbr title="Data Aggregation System">DAS</abbr></h4>
  <h6>Cambria Philippines</h6>
  <h6>2021/04-2023/02; Philippines</h6>
</div>
<div class="timeline-body">
  <dl>
    <dt>Client:</dt>
    <dd>Change Healthcare</dd>
    <dt>Description:</dt>
    <dd>DAS collects data using SymmetricDS and sends them to Snowflake.</dd>
    <dt>Contribution:</dt>
    <dd>
      <ul class="list-contribution">
        <li>
          As Developer - responsible for the development/maintenance of DAS
          using Java and other technologies.
        </li>
      </ul>
    </dd>
    <dt>Client-side:</dt>
    <dd>
      <app-pill-typescript></app-pill-typescript>
      <app-pill-angular></app-pill-angular>
      <app-pill-html5></app-pill-html5>
      <app-pill-css3></app-pill-css3>
      <app-pill-js></app-pill-js>
      <app-pill-bootstrap></app-pill-bootstrap>
    </dd>
    <dt>Server-side:</dt>
    <dd><app-pill-spring></app-pill-spring>Spring Boot, etc.</dd>
    <dt>Other Languages:</dt>
    <dd>SQL</dd>
    <dt>Databases:</dt>
    <dd>Oracle, MySQL, Sybase, Ms SQL Server</dd>
    <dt>Development Tools:</dt>
    <dd>IntelliJ, DBVisualizer, VS Code, Sourcetree, git</dd>
    <dt>OS:</dt>
    <dd>MS Windows 10, Linux</dd>
    <dt>Hardware:</dt>
    <dd>PC</dd>
  </dl>
</div>
