.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  transform: rotate(-45deg);
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 16em;
}

span {
  opacity: 1;
  color: #fff;
  display: block;
  font-weight: 400;
  padding: 5px;
  text-align: center;
}
