<div class="card my-2">
  <h2 class="card-header">
    <fa-icon [icon]="faAddressCard"></fa-icon> Contact and Basic Info
  </h2>
  <div class="card-body">
    <div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-uppercase">Contact Information</li>
        <li class="list-group-item">
          <dl class="row">
            <dt class="col-5">Mobile Phone</dt>
            <dd class="col-7">
              <a href="tel:+639159448544">+63 915 944 8544</a>
            </dd>
          </dl>
        </li>
        <li class="list-group-item">
          <dl class="row">
            <dt class="col-5">Email</dt>
            <dd class="col-7">
              <a href="mailto:delrosariotanny@gmail.com"
                >delrosariotanny@gmail.com</a
              >
            </dd>
          </dl>
        </li>
        <li class="list-group-item">
          <dl class="row">
            <dt class="col-5">Messenger</dt>
            <dd class="col-7">
              <a href="https://m.me/tanny.delrosario/"
                >https://m.me/tanny.delrosario/</a
              >
            </dd>
          </dl>
        </li>
        <li class="list-group-item">
          <dl class="row">
            <dt class="col-5">Online Resume</dt>
            <dd class="col-7">
              <a href="https://delrotf-resume.web.app/"
                >https://delrotf-resume.web.app/</a
              >
            </dd>
          </dl>
        </li>
      </ul>
    </div>
    <div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-uppercase">Basic Information</li>
        <li class="list-group-item">
          <dl class="row">
            <dt class="col-5">Birth Year</dt>
            <dd class="col-7">1976</dd>
          </dl>
        </li>
        <li class="list-group-item">
          <dl class="row">
            <dt class="col-5">Gender</dt>
            <dd class="col-7">Male</dd>
          </dl>
        </li>
        <li class="list-group-item">
          <dl class="row">
            <dt class="col-5">Current City</dt>
            <dd class="col-7">Pasig</dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</div>
