<div class="timeline-heading">
	<h4>Invoice Billing System</h4>
	<h6>Wonders Corp.</h6>
	<h6>2019/02-2021/04; Philippines</h6>
</div>
<div class="timeline-body">
	<dl>
		<dt>Description:</dt>
		<dd>The Invoice system used by the finance for billing the clients.</dd>
		<dt>Contribution:</dt>
		<dd>
			<ul class="list-contribution">
				<li>As Designer/ Developer - responsible for the design and development, enhancements, and maintenance
					of Invoice Billing System using JHipster (Angular and Spring Boot) and other technologies.</li>
			</ul>
		</dd>
		<dt>Client-side:</dt>
		<dd>
			JHipster (
			<app-pill-angular></app-pill-angular>
			<app-pill-js></app-pill-js>
			<app-pill-html5></app-pill-html5>
			<app-pill-css3></app-pill-css3>)
		</dd>
		<dt>Server-side:</dt>
		<dd>
			JHipster (
			<app-pill-spring></app-pill-spring>/ Spring Boot), Mybatis, Redis, Kafka
		</dd>
		<dt>Other Languages:</dt>
		<dd>SQL</dd>
		<dt>Web/ Application Servers:</dt>
		<dd>Tomcat, Nginx</dd>
		<dt>Databases:</dt>
		<dd>MySQL</dd>
		<dt>Development Tools:</dt>
		<dd>Sprint Tool Suite (STS), Visual Studio Code, MySQL Workbench, Maven, Google Chrome, Jira, Jenkins,
			Git/Github, Redis Desktop Manager, Amazon Web Services (AWS), Putty, WinSCP</dd>
		<dt>OS:</dt>
		<dd>MS Windows 10, Ubuntu</dd>
		<dt>Hardware:</dt>
		<dd>PC</dd>
	</dl>
</div>