<div class="timeline-heading">
	<h4>Freelance Projects</h4>
	<h6>Freelance</h6>
	<h6>2017/04-2018/05; Philippines</h6>
</div>
<div class="timeline-body">
	<dl>
		<dt>Description:</dt>
		<dd>Projects from freelance sites.</dd>
		<dt>Contribution:</dt>
		<dd>
			<ul class="list-contribution">
				<li>As Designer/ Developer - designing and developing web and Java applications for the clients.</li>
			</ul>
		</dd>
		<dt>Client-side:</dt>
		<dd>
			<app-pill-html5></app-pill-html5>
			<app-pill-css3></app-pill-css3>
			<app-pill-js></app-pill-js>
			<app-pill-angular></app-pill-angular>
			<app-pill-bootstrap></app-pill-bootstrap>
		</dd>
		<dt>Server-side:</dt>
		<dd>
			<app-pill-firebase></app-pill-firebase>
			<app-pill-node-js></app-pill-node-js>
			<app-pill-java category="SE/EE"></app-pill-java>
			<app-pill-php></app-pill-php>
		</dd>
		<dt>Development Tools:</dt>
		<dd>Visual Studio Code, Chrome Dev Tools, Photoshop, NodeJs CLI, Angular CLI, Firebase CLI</dd>
		<dt>OS:</dt>
		<dd>MS Windows 10 Pro</dd>
		<dt>Hardware:</dt>
		<dd>PC</dd>
	</dl>
</div>