<div class="jumbotron jumbotron-fluid card mt-2 pb-4">
  <h1 class="display-4 text-center"><small>Mr.</small> Tanny del Rosario</h1>
  <h6 class="lead text-center">Architect/Engineer/Designer/Developer/Lead</h6>
  <ul class="list-unstyled text-center">
    <li>Full Stack Developer:</li>
    <li class="mb-2">
      <app-pill-java category="EE"></app-pill-java>
      <app-pill-spring></app-pill-spring>
      <app-pill-next-js></app-pill-next-js>
      <app-pill-node-js></app-pill-node-js>
      <app-pill-python></app-pill-python>
    </li>
    <li class="mb-2">
      <app-pill-html5></app-pill-html5>
      <app-pill-css3></app-pill-css3>
      <app-pill-js></app-pill-js>
      <app-pill-typescript></app-pill-typescript>
      <app-pill-angular></app-pill-angular>
      <app-pill-react></app-pill-react>
      <app-pill-jquery></app-pill-jquery>
      <app-pill-bootstrap></app-pill-bootstrap>
      <app-pill-php class="m-1"></app-pill-php>
    </li>
    <li>Cloud Application Developer:</li>
    <li class="mb-2">
      <app-pill-aws></app-pill-aws>
      <app-pill-ibm-cloud></app-pill-ibm-cloud>
      <app-pill-firebase></app-pill-firebase>
      <app-pill-heroku></app-pill-heroku>
      <app-pill-azure></app-pill-azure>
    </li>
    <li>Mobile Application Developer:</li>
    <li class="mb-2">
      <app-pill-react-native></app-pill-react-native>
    </li>
    <li
      class="
        lead
        mt-5
        badge-light
        text-capitalize
        font-italic
        d-md-none d-print-block
      "
    >
      {{ yearsOfExperience }} years of experience!
    </li>
  </ul>
  <app-ribbon></app-ribbon>
  <div class="d-flex justify-content-between align-items-end px-4">
    <div>
      <span class="text-muted">Updated: {{ updateDate }}</span>
    </div>
    <a
      class="print-icon d-sm-inline d-print-none text-muted"
      href="#"
      onclick="window.print()"
    >
      <fa-icon [icon]="faPrint"></fa-icon> Print
    </a>
    <div class="btn-group d-print-none">
      <a
        class="btn btn-light d-none d-print-inline-block"
        href="https://delrotf-resume.web.app/"
        role="button"
      >
        <fa-icon [icon]="faUser"></fa-icon> Online Resume
      </a>
      <a class="btn btn-light" href="tel:+639165838263" role="button">
        <fa-icon [icon]="faMobileAlt"></fa-icon> Mobile
      </a>
      <a
        class="btn btn-light"
        href="mailto:delrosariotanny@gmail.com"
        role="button"
      >
        <fa-icon [icon]="faEnvelope"></fa-icon>
        eMail
      </a>
      <a
        class="btn btn-light"
        href="https://m.me/tanny.delrosario/"
        target="_blank"
        role="button"
      >
        <fa-icon [icon]="faFacebookMessenger"></fa-icon> Message
      </a>
    </div>
  </div>
</div>
