<article class="article-skill card my-2">
  <h2 class="card-header"><fa-icon [icon]="faCode"></fa-icon> Key Skills</h2>
  <div class="card-body">
    <dl class="list-skill striped-list">
      <dt>Full Stack:</dt>
      <dd>
        <app-pill-html5></app-pill-html5>
        <app-pill-css3></app-pill-css3>
        <app-pill-js></app-pill-js>
        <app-pill-typescript></app-pill-typescript>
        <app-pill-angular></app-pill-angular>
        <app-pill-react></app-pill-react>
        <app-pill-next-js></app-pill-next-js>
        <app-pill-jquery></app-pill-jquery>
        <app-pill-bootstrap></app-pill-bootstrap>
        <app-pill-tailwind-css></app-pill-tailwind-css>
      </dd>
      <dd class="d-flex flex-column">
        <span class="m-1"
          ><app-pill-java category="EE"></app-pill-java> (Portal/Portlet, JSF,
          JSP, Servlet, REST, JPA),</span
        >
        <span class="m-1"
          ><app-pill-spring></app-pill-spring> (Spring MVC, Spring Boot, Spring
          Batch, Spring Data),</span
        >
      </dd>
      <dd>
        <app-pill-node-js class="m-1"></app-pill-node-js>
        <app-pill-python></app-pill-python>
        <app-pill-php class="m-1"></app-pill-php>
      </dd>

      <dt>Cloud:</dt>
      <dd>
        <app-pill-aws></app-pill-aws>
        <app-pill-ibm-cloud></app-pill-ibm-cloud>
        <app-pill-firebase></app-pill-firebase>
        <app-pill-heroku></app-pill-heroku>
        <app-pill-azure></app-pill-azure>
      </dd>
      <dt>Mobile:</dt>
      <dd class="mb-2">
        <app-pill-react-native></app-pill-react-native>
      </dd>
      <dt>Database:</dt>
      <dd>
        Oracle, Sybase, Ms SQL Server / Azure Ms SQL Server, DB2, MySQL, Redis,
        Google Firebase, MongoDb, Cassandra, and Cloudant
      </dd>
      <dt>Creative:</dt>
      <dd>Adobe Photoshop, Illustrator, After Effects</dd>
      <dt>Others:</dt>
      <dd>JHipster, Git/Github, IBM ACE (App Connect Enterprice)</dd>
      <!-- <li>
            <div class="divflex">
                <img src="images/googlefirebase.svg" class="icon20x20"></img>
                <img src="images/icon-ibm.png" class="icon20x20"></img>
                <img src="images/html5.svg" class="icon20x20"></img>
                <img src="images/css3.svg" class="icon20x20"></img>
                <img src="images/js.svg" class="icon20x20"></img>
                <img src="images/angular.svg" class="icon20x20"></img>
                <img src="images/jquery.svg" class="icon20x20"></img>
                <img src="images/bloatstrap.svg" class="icon20x20"></img>
                <img src="images/java.svg" class="icon20x20"></img>
                <img src="images/spring.png" class="icon20x20"></img>
                <img src="images/nodejs-small.svg" class="icon20x20"></img>
                <img src="images/oracledb.svg" class="icon20x20"></img>
                <img src="images/sybase-2.svg" class="icon20x20"></img>
                <img src="images/ms sql server.svg" class="icon20x20"></img>
                <img src="images/db_2-512.png" class="icon20x20"></img>
                <img src="images/mysql.svg" class="icon20x20"></img>
                <img src="images/mongodb.svg" class="icon20x20"></img>
                <img src="images/icon-cloudant.svg" class="icon20x20"></img>
                <img src="images/photoshop.svg" class="icon20x20"></img>
                <img src="images/illustrator.svg" class="icon20x20"></img>
                <img src="images/Adobe_After_Effects_CS6_Icon.png" class="icon20x20"></img>
            </div>
        </li> -->
    </dl>
  </div>
</article>
