<div class="timeline-heading">
	<h4>Nice IEX Integration</h4>
	<h6>Wonders Corp.</h6>
	<h6>2020/01-2021/04; Philippines</h6>
</div>
<div class="timeline-body">
	<dl>
		<dt>Description:</dt>
		<dd>Integration of workforce apps with Nice IEX</dd>
		<dt>Contribution:</dt>
		<dd>
			<ul class="list-contribution">
				<li>As Designer/Developer - responsible for the design and development, enhancements, and maintenance
					of integration apps using JHipster (Spring Boot), Spring Batch, and other technologies.
				</li>
			</ul>
		</dd>
		<dt>Client-side:</dt>
		<dd>
			<app-pill-js></app-pill-js>
			<app-pill-jquery></app-pill-jquery>
			<app-pill-html5></app-pill-html5>
			<app-pill-css3></app-pill-css3>
		</dd>
		<dt>Server-side:</dt>
		<dd>
			JHipster (<app-pill-spring></app-pill-spring>/Spring Boot), Spring Batch, SOAP, SmartSync Web APIss,
			Mybatis, Redis, Kafka
		</dd>
		<dt>Other Languages:</dt>
		<dd>SQL</dd>
		<dt>Web/Application Servers:</dt>
		<dd>Tomcat, Nginx</dd>
		<dt>Databases:</dt>
		<dd>MySQL</dd>
		<dt>Development Tools:</dt>
		<dd>Sprint Tool Suite (STS), Visual Studio Code, MySQL Workbench, Maven, Google Chrome, Jira, Jenkins,
			Git/Github, Redis Desktop Manager, Amazon Web Services (AWS), Putty, WinSCP</dd>
		<dt>OS:</dt>
		<dd>MS Windows 10, Ubuntu</dd>
		<dt>Hardware:</dt>
		<dd>PC</dd>
	</dl>
</div>