<div class="timeline-heading">
  <h4>
    <a href="{{ url }}" target="_blank" class="exposedlink">sesame.menu</a>
    <a
      href="{{ url }}"
      target="_blank"
      class="btn btn-primary btn-sm d-print-none"
    >
      <i class="fa fa-external-link"></i> Open App
    </a>
  </h4>
  <h6>Wonders Corp</h6>
  <h6>2018/08-2021/04; Philippines</h6>
</div>
<div class="timeline-body">
  <dl>
    <dt>Description:</dt>
    <dd>
      Sesame.Menu is an online application where customers could place their
      orders. greatwallmedina is one of the clients that avail the services of
      sesame.menu
    </dd>
    <dt>Contribution:</dt>
    <dd>
      <ul class="list-contribution">
        <li>
          As Designer/Developer - responsible for the design and development,
          enhancements, and maintenance of sesame.menu application using Angular
          7 and other technologies.
        </li>
      </ul>
    </dd>
    <dt>Cloud:</dt>
    <dd>
      <app-pill-aws></app-pill-aws>
    </dd>
    <dt>Client-side:</dt>
    <dd>
      <app-pill-angular></app-pill-angular>
      <app-pill-html5></app-pill-html5>
      <app-pill-css3></app-pill-css3>
      <app-pill-js></app-pill-js>
    </dd>
    <dt>Server-side:</dt>
    <dd><app-pill-spring></app-pill-spring>, Mybatis, Kafka</dd>
    <dt>Other Languages:</dt>
    <dd>SQL</dd>
    <dt>Web/Application Servers:</dt>
    <dd>Tomcat, Nginx</dd>
    <dt>Databases:</dt>
    <dd>MySQL, Redis</dd>
    <dt>Development Tools:</dt>
    <dd>
      Eclipse, Visual Studio Code, MySQL Workbench, Maven, Google Chrome, Jira,
      Jenkins, Git/Github, Redis Desktop Manager, Amazon Web Services (AWS),
      Putty, WinSCP
    </dd>
    <dt>OS:</dt>
    <dd>MS Windows 10, Ubuntu</dd>
    <dt>Hardware:</dt>
    <dd>PC</dd>
  </dl>
</div>
