<div class="timeline-heading">
    <h4>Front-end Design and Development Training</h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <h6>2015/02-2015/09; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>
            Angular, jQuery, Bootstrap training. Also trained with NodeJs, MongoDb, PHP
        </dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>Became a Front-end Developer, as secondary job role.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pill-html5></app-pill-html5>
            <app-pill-css3></app-pill-css3>
            <app-pill-js></app-pill-js>
            <app-pill-angular></app-pill-angular>
            <app-pill-jquery></app-pill-jquery>
            <app-pill-bootstrap></app-pill-bootstrap>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pill-node-js></app-pill-node-js>
            <app-pill-php></app-pill-php>
        </dd>
        <dt>Other Languages:</dt>
        <dd>XML</dd>
        <dt>Web/Application Servers:</dt>
        <dd>WebSphere Application Server</dd>
        <dt>Databases:</dt>
        <dd>MongoDb, MySQL</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse</dd>
        <dt>OS:</dt>
        <dd>MS Windows</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>